<div
  class="flex flex-col items-center justify-start w-screen h-screen gap-2 overflow-hidden text-white bg-black/90"
>
  <div class="pt-4">Finance Window</div>
  <input
    #fileInput
    id="fileInput"
    type="file"
    class="hidden"
    [accept]="'text/csv'"
    (change)="uploadFile($event)"
  />
  <div class="flex flex-col p-2 gap-y-4">
    <div class="flex items-center justify-center gap-x-4">
      <div class="flex flex-col sm:flex-row gap-y-4 sm:gap-x-4">
        <button
          mat-raised-button
          color="primary"
          (click)="fileInput.click()"
          class="flex-shrink-0 whitespace-nowrap"
        >
          Upload CSV File
        </button>
        <!-- <button
          mat-raised-button
          color="accent"
          *ngIf="financeData()"
          class="whitespace-nowrap"
        >
          Export To CSV
        </button> -->
      </div>
      <button
        *ngIf="financeData()"
        (click)="clearFinanceData()"
        class="flex items-center justify-center h-full bg-red-400 rounded cursor-pointer max-h-10 max-w-10 aspect-square md:hover:bg-red-500"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <!-- <button
      mat-raised-button
      *ngIf="financeData()"
      class="!bg-blue-500 w-full"
      (click)="startGame()"
    >
      Make it Fun!
    </button> -->
  </div>
  <div class="flex items-start justify-center w-full p-2 overflow-y-auto">
    <ul class="w-full" *ngIf="financeData() && !playingGame">
      <li
        *ngFor="let item of financeData(); let index = index"
        class="p-3 my-1 rounded-lg"
        [ngClass]="
          index === selectedIndex
            ? 'md:hover:bg-transparent'
            : 'md:hover:bg-white/10 cursor-pointer'
        "
        (click)="selectedIndex = index"
      >
        <div class="flex justify-between gap-x-2" *ngIf="item">
          <div>{{ item.name }}</div>
          <div [ngClass]="item.amount < 0 ? 'text-red-400' : 'text-green-400'">
            {{ item.amount | currency : "USD" }}
          </div>
        </div>
        <div
          class="flex flex-col items-start justify-center m-2 gap-y-2 h-fit"
          *ngIf="selectedIndex === index"
          @expand
        >
          <div>Transaction Date: {{ item.date | date : "mediumDate" }}</div>
          <div>Nickname: {{ item.nickname }}</div>
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select
              [(ngModel)]="item.category"
              (selectionChange)="updateItem(item, index)"
            >
              <mat-option
                *ngFor="let category of categories"
                [value]="category"
              >
                {{ category }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </li>
    </ul>
    <!-- <mat-list class="w-full">
      <mat-list-item *ngFor="let item of financeData()">
        <div matListItemTitle>{{ item.name }}</div>
        <div matListItemLine [ngClass]="item.amount < 0 ? 'text-red-500' : ''">
          {{ item.amount | currency : "USD" }}
        </div>
      </mat-list-item>
    </mat-list> -->

    <!-- for whenever I decide to make the game
    <div *ngIf="financeData() && playingGame">

    </div> -->
  </div>
</div>
